<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          {% if site.github.is_project_page %}
          {% endif %}

        <!-- This one is for github pages  -->
        <!-- <table>
          <tr>
              <td><a href="/leuckatme/">Home</a></td>
              <td><a href="/leuckatme/hours.html">Hours</a></td>
              <td><a href="/leuckatme/menu.html">Menu</a></td>
              <td><a href="/leuckatme/gallery.html">Gallery</a></td>
              <td><a href="/leuckatme/employment.html">Employment</a></td>
              <td><a href="/leuckatme/login.html">Login</a></td>
          </tr>
        </table>  -->

        <!-- When running locally, comment the above one out and uncomment this one  -->
        
        <table>
          <tr>
            <td><a href="/">Home</a></td>
            <td><a href="/login">Login</a></td>
            <td><a href="/search">Search</a></td>
          </tr>
        </table> 
          <h1 id="project_title">ReciPies</h1>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>